.App {
}

.message {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid #023020;
    align-items: center;
    padding: 10px;
    width: 250px;
    background: #FAFAFA;
    position: absolute;
    top: 90%;
    left: 40%;
}

#message__field {
    outline: none;
    border: none;
    border-radius: 10px;
    color: 	#36454F;
    background: #FAFAFA;
}

#message__button {
    background: none;
    border: none;
    font-weight: 600;
    font-family: "Fira Sans", serif;
    font-size: 20px;
}

#message__icon {
    color: #023020;
    transition: zoom 1s;
    box-sizing: border-box;
}

#message__icon:hover {
    zoom: 110%;
}

#messages {
    width: 50%;
    margin: 20px auto 0;
}
